@import "../../styles/globals.scss";

.pageTitle {
  @include font-scale("super", bold);
  text-align: center;
  max-width: 600px;
  margin: auto;

  @media (max-width: 650px) {
    @include font-scale("large", bold);
  }
}

.subtitle {
  @include font-scale("large");
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding-top: $space-mega;

  @media (max-width: 650px) {
    @include font-scale("mid");
  }
}

.altSection {
  padding: $space-huge 0;
  max-width: 800px;
  margin: auto;
}
