@import "../../styles/globals.scss";

.footer {
  display: flex;
  justify-content: space-between;
  padding: $x2;
  align-items: center;
  @include font-scale(base);

  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.coffee {
  display: flex;
  align-items: center;
}

.footerLink {
  @include font-scale(base, bold);
  color: $green;
}
